html {
    position: relative;
/*    background-color:ghostwhite;*/
}

#container {
    margin: auto 0;
    padding-right: 10px;
/*    padding-left: -100px;*/
    position: relative;
    width: 100%;
}

svg {
    min-width: 800px;
}

img {
    max-width: 1000px;
}

/*
#container.body {
    marging: auto 0;
    padding: 20% 20% 20% 20%;
}
*/

p {
/*    background-color: bisque;*/
    margin: 100px, auto;
    position: absolute;
}

g {
    background-color: aqua;
}

#A {
    fill: none;
    stroke: #00FFB3 ;
    stroke-width: 2;
    shape-rendering: crispEdges;    
}

#B{
    fill: none;
    stroke: #00FF55 ;
    stroke-width: 2;
    shape-rendering: crispEdges;  
}

#C{
    fill: none;
    stroke: #CD00FF ;
    stroke-width: 2;
    shape-rendering: crispEdges; 
}
/* Edison thermometer */
#D{ 
    fill: none;
    stroke: #000000 ;
    stroke-width: 2;
    shape-rendering: crispEdges; 
}
/*Stephen's thermometer */
#E{
    fill: none;
    stroke: #0D6600 ;
    stroke-width: 2;
    shape-rendering: crispEdges; 
}

#F{
    fill: none;
    stroke: #FF2200 ;
    stroke-width: 2;
    shape-rendering: crispEdges; 
}

#G{
    fill: none;
    stroke: #FF007C ;
    stroke-width: 2;
    shape-rendering: crispEdges; 
}

#H{
    fill: none;
    stroke: #FFC000 ;
    stroke-width: 2;
    shape-rendering: crispEdges; 
}

#I{
    fill: none;
    stroke: #087200 ;
    stroke-width: 2;
    shape-rendering: crispEdges; 
}

#J{
    fill: none;
    stroke: #0aff00 ;
    stroke-width: 2;
    shape-rendering: crispEdges; 
}



path { 
    stroke: #00FFB3;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #8D817B;
    stroke-width: 3;
    shape-rendering: crispEdges;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    body {
        width: 100%;
    }
}
/*
 rotate the chart when viewing on a screen smaller than 680px 
@media only screen and (max-width: 560px) and (orientation: portrait) { 
        #container {
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
}
    }
*/
