#container {
    background-color:ghostwhite;
}
 
body { 
    font: 12px "Calibri", Sans Serif;
    align-content: center;
}

g {
    background-color: aqua;
}

path { 
    stroke: #00FFB3;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #8D817B;
    stroke-width: 3;
    shape-rendering: crispEdges;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    body {
        width: 100%;
    }
}
/* rotate the chart when viewing on a screen smaller than 680px */
@media only screen and (max-width: 680px) and (orientation: portrait) { 
        #container {
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
}
    }