body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    body {
        width: 100%;
    }
}